html 
	head
		title Add Item
		link(rel="stylesheet" type="text/css" href="additem.css")
	body
		include ../partials/header
		br
		h2 Add a New Item:
		div(id="newItem")
			label(for="name") Name:
				input(type="text" id="name" name="name")
			br
			label(for="price") Price: $
				input(type="text" id="price" name="price")
			br
			label(for="quantity") Quantity:
				input(type="text" id="quantity" name="quantity")
			br
			input(type="submit" value="Submit" onclick="add()")
		script(src="client-additem.js")