html
	head
		title Home
		link(rel="stylesheet" type="text/css" href="home.css")
	body
		include ../partials/header
		br
		h2 Welcome to the inventory tracking web application for a logistics company.
		h3 Here you can edit inventory data.